# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\leobo\Documents\Università\Vrije University\1_year_courses\Knowledge Representation\Project2_ALL\Project2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
